<div class="row font-jelpit">
  <div class="col-lg-5 col-md-7 text-center">
    <div class="bg-white">
      <div class="text-center">
        <img src="assets/logo_jelpit.svg" alt="Jelpit logo">
        <h3 class="pt-3 font-weight-bold primary-color title">Restablece tu contraseña</h3>
        <p class="text-color-gray subtitle">Encontrarás las instrucciones para recuperar tu contraseña en el correo electrónico. Recuerda revisar tu carpeta de spam</p>
      </div>
        <p class="text-color-gray subtitle">¿No recibiste el mensaje?</p>
        <div
        id="resendButton"
        data-qa-id="JC-ZP-reenviar"
        class="cursor-pointer secondary-color font-bold w-fit-content border-round-2xl m-auto my-3"
        (click)="onResendEvent()">
          Reenviar mensaje
        </div>
      </div>
  </div>
</div>
