$secondary-gray:#999999;
.form-control{
    &_input{
        max-width: 336px;
        width: 100%;
        border-color: $secondary-gray;
        &:focus{
            outline: none;
            box-shadow: none;
            border-color: $secondary-gray;
            &.p-inputtext.ng-dirty.ng-invalid {
                border-color: #dc3545;
            }
        }
    }
}

button{
    border: none;
}


@media (max-width: 431px){
    .form-control{
        &_input{
            max-width: 280px;
        }
    }
}