<div class="row font-jelpit">
  <div  *ngIf="!showMessage" class="col-lg-5 col-md-7 text-center">
    <div class="bg-white">
      <div class="text-center">
        <img  src="assets/logo_jelpit.svg" alt="Jelpit logo" />
        <h3 class="pt-3 font-weight-bold primary-color title font-jelpit">
          Restablece tu contraseña
        </h3>
        <p class="text-color-gray subtitle font-jelpit">
          Escribe tu correo electrónico para <br />
          restablecer tu contraseña
        </p>
      </div>
      <div class="p-fluid mx-auto form-control_input mt-5 mb-4">
          <form [formGroup]="userEmail">
            <div class="form-group">
              <span class="p-float-label p-input-icon-right">
                <i *ngIf="recoveryEmail?.errors?.['pattern'] || message" class="pi pi-times error" aria-hidden="true"></i>
                <input
                  type="email"
                  class="form-control font-jelpit form-control_input"
                  formControlName="email"
                  (keyup)="onChangeHandle($event)"
                  id="float-input"
                  pInputText
                />
                <label class="font-jelpit" for="float-input">Correo electrónico</label>
              </span>
              <div>
                 <small
                  class="p-error block text-align-start font-jelpit mt-2"
                  >{{message}}
                </small>
              </div>
            </div>
          </form>
      </div>
      <button
      id="recoveryButon"
        data-qa-id="JC-ZP-restablecer"
        class="cursor-pointer py-2 px-4 bg-color__primary primary-color font-bold w-fit-content border-round-2xl m-auto my-3"
        (click)="recovery()">
        Restablecer contraseña
      </button>
    </div>
    <div class="mt-2">
      <span class="text-color-gray subtitle pr-2">¿No recibiste el mensaje?</span>
      <a
        data-qa-id="JC-ZP-crear_cuenta"
        class="cursor-pointer secondary-color font-bold w-fit-content border-round-2xl m-auto my-3"
        [routerLink]="['/login/create-account']"
        >
        Crea tu cuenta
    </a>
    </div>
  </div>
  <app-send-message (showEvent)="onResend($event)" *ngIf="showMessage"></app-send-message>
</div>
